<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body style = "background-color: rgb(137, 203, 225);">
    <div style="text-align:center">
    <br><br>
    <h1 style="color: rgba(131, 10, 175, 0.441);">Welcome to our home page !</h1>
    <br><br>
    <img src="../static/download.png" alt="Welcome">
    <p style="font-size: medium;background-color: rgb(12, 84, 117);">Our mission is to help companies scale up and optimize their customer experiences and logistics operations.

        Our cloud platform connects, automates and orchestrates supply chain technology, people and providers, making innovative delivery and fulfillment models accessible and valuable to everyone.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Come check some of our top customers</h1>
          <img src="..//static/gallerypic1.png" alt="Coca Cola" width="600" height="400">
        <div class="desc">Coca - Cola</div>
        <br>
          <img src="..//static/gallerypic2.png" alt="Mcdonald's" width="600" height="400">
        <p>Mcdonald's<p>
        <br>
          <img src="..//static/gallerypic3.jpg" alt="Walmart" width="600" height="400">
        <p>Walmart<p>
        <br>
          <img src="..//static/gallerypic4.png" alt="Party city" width="600" height="400">
        <p>Party City<p>
        <br>
        <p style="font-size: medium;color: rgb(65, 32, 117);box-sizing: border-box;">Have any issue? need our attention? please contact us !</p>
        <br>
        <nav>
            <a href="Contact.html">|Contact Us|</a></li>
        </nav>
    </div>
</body>
</html>